
<div ng-controller="UserController">
  <div class="container">
    <div class="row">
      <h1> Welcome {{userFirstName}} !</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3 ng-show="(reservations).length"> Your Reservations:</h3>
        <ul ng-repeat="reservation in reservations">
          <div class="row row-bottom-margin">
            <li><b>Address: </b><a href="#/spots/{{reservation.SpotId}}/show">{{ reservation.Spot.address }}</a></li>
              <ul>

                <li><b>Start Time:</b> {{reservation.start_date_time | date:'MM/dd/yyyy @ h:mma'}} </li>
                <li><b>End Time:</b> {{reservation.start_date_time | date:'MM/dd/yyyy @ h:mma' }}</li>
                <br>
                <span ng-controller="SpotsController"><a class="cancellation" ng-click="deleteRes(reservation, user_id)">Cancel Reservation</a></span>

              </ul>
            </li>
          </div>
        </ul>
      </div>
      <div class="col-md-6">
        <h3 ng-show="(spots).length">Your Spots:</h3>
        <ul ng-repeat="spot in spots">
          <div class="row row-bottom-margin">
            <li><b>Address: </b><a href="#/spots/{{ spot.id }}/show">{{ spot.address }}</a></li>
            <li><b>Price: </b>{{ spot.price | currency }}/hr</li>
            <li><b>Description: </b>{{ spot.description }}</li>
            <li><b>Available from: </b>{{ spot.start_date_time | date:'MM/dd/yyyy @ h:mma'}} to {{ spot.end_date_time | date:'MM/dd/yyyy @ h:mma'}}</li>

            <li><b>Current Reservations:</b>
              <ul ng-repeat="reservation in reservations">
                <br>
                <li><b>Begin Time: </b>{{ reservation.start_date_time | date:'MM/dd/yyyy @ h:mma' }}</li>
                <li><b>End Time: </b>{{ reservation.end_date_time | date:'MM/dd/yyyy @ h:mma' }}</li>
              </ul>
            </li>
          </div>
        </ul>
      </div>
    </div>
        <!-- <hr ng-show="(spots).length"> -->
        <hr>
  </div> <!-- Closing bootstrap container -->
</div>


