<!doctype html>
<html>
  <head>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800' rel='stylesheet' type='text/css'>
    <!-- Mapbox script -->

    <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="dist/sweetalert.min.js"></script>

    <!-- Bootstrap cdns -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/hover.css" rel="stylesheet" />
    <link href="dist/sweetalert.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
     <link href="//cdn.rawgit.com/cornflourblue/angular-registration-login-example/master/app-content/app.css" rel="stylesheet" />

    <!-- Angular script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-cookies.js"></script>
    <link rel="stylesheet" href="vendor/uiBootstrap.css"/>
    <script src="vendor/uiBootstrap.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

    <!-- Leaflet script -->

  </head>
  <!-- <div class="container"> -->
  <body ng-app="Parkly">


    <div>
      <div class="container">
        <div class="row">
          <h1 class="center-content header-title"><span class="nav-a"><a href="#/" class="link-color title-link">PARK.LY</a></span></h1>
        </div>

        <div class="row nav-bar">
          <div ng-controller="ModalController">
            <script type="text/ng-template" id="myModalContent.html">
              <div class="modal-header">
                  <h3 class="modal-title">Park.ly!</h3>
              </div>
              <div class="modal-body">
                <h2>Login</h2>
                  <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
                  <div class="alert alert-danger" ng-show="error()">Incorrect Username or Password!
                  </div>
                  <form name="form" ng-submit="processForm()" role="form">
                    <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" class="form-control" ng-model="formData.username" required />
                        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control" ng-model="formData.password" required />
                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                    </div>
                    <div class="form-actions">
                        <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="button-modal">Login</button>
                        <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        <span ng-controller="ModalRegisterController">
                        <a  class="button-modal" ng-click="cancel();openReg()">Register</a></span>
                    </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button class="submit-modal" type="button" ng-click="cancel()">Cancel</button>
              </div>
          </script>

          <span class="nav-a"><a ng-hide="checkLogin()" type="button" class="hvr-float nav-links link-color" ng-click="open()">Login</a></span>

          </div> <!-- ends modal instance controller -->

           <div ng-controller="ModalRegisterController">
              <script type="text/ng-template" id="myModalContent2.html">
                <div class="modal-header">
                    <h3 class="modal-title">Park.ly!</h3>
                </div>
                <div class="modal-body">
                  <h2>Register</h2>
                  <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
                  <form name="form" ng-submit="processForm()" role="form">
                      <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                          <label for="username">First name</label>
                          <input type="text" name="firstName" id="firstName" class="form-control" ng-model="formData.first_name" required />
                          <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
                      </div>
                      <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
                          <label for="username">Last name</label>
                          <input type="text" name="lastName" id="Text1" class="form-control" ng-model="formData.last_name" required />
                          <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
                      </div>
                      <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                          <label for="username">Email</label>
                          <input type="text" name="email" id="email" class="form-control" ng-model="formData.email" required />
                          <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                      </div>
                      <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                          <label for="password">Password</label>
                          <input type="password" name="password" id="password" class="form-control" ng-model="formData.password" required />
                          <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                      </div>
                      <div class="form-actions">
                          <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="button-modal">Register</button>
                          <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                          <span ng-controller="ModalController">
                          <a  class="button-modal" ng-click="cancel();open()">Login</a></span>
                      </div>
                  </form>
                </div>
                <div class="modal-footer">
                    <button class="submit-modal" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script>


            <span class="nav-a"><a ng-hide="checkLogin()" type="button" class="hvr-float nav-links link-color" ng-click="openReg()">Register</a></span>

          </div> <!-- ends modal instance controller -->




          <div class="nav-a" ng-controller="IndexController">
            <a ng-show="checkLogin()" ng-click="logout()" href="#/maps" class="hvr-float nav-links link-color">Logout</a>
            <a ng-show="checkLogin()" class="hvr-float nav-links link-color" href="#/users/{{userId}}/profile">Profile</a>
            <a ng-show="checkLogin()" class="hvr-float nav-links link-color" href="#/spots/new">Create</a>
            <a class="hvr-float nav-links link-color" href="#/maps">Home</a>
          </div>
        </div>
        <hr>
      </div>
    </div>

    <div class="main container">
      <div ng-controller="IndexController">
        <div class="jumbotron swoosh" ng-if="!checkLogin()">
          <div class="col-md-6">
            <div class="jumbo-text">
            <h2 class="heavy-font">Welcome to PARK.LY</h2>
            <p>Whether you are looking for parking for a few hours, or reserving a spot for a month, Park.ly connects people looking for parking spots to users looking to make some extra cash. And with world-class customer service and a growing community of users, Park.ly is the easiest way for people to monetize their extra parking space.</p>
            </div>
          </div>
        </div>
      </div>
        <div ng-view ng-controller="IndexController"> </div>
    </div>


    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- JS files for Mapbox -->
    <script src="js/dummyJson.js"></script>
    <script src="js/getLocation.js"></script>
    <script src="js/renderMap.js"></script>
    <script src="js/onReady.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MapController.js"></script>
    <script src="js/controllers/IndexController.js"></script>
    <script src="js/controllers/LoginController.js"></script>
    <script src="js/controllers/RegisterController.js"></script>
    <script src="js/controllers/ShowController.js"></script>
    <script src="js/controllers/SpotsController.js"></script>
    <script src="js/controllers/ModalRegisterController.js"></script>
    <script src="js/controllers/ModalController.js"></script>
    <script src="js/controllers/ModalInstanceController.js"></script>
    <script src="js/controllers/UserController.js"></script>

    <!-- Services -->
    <script src="js/services/spot.js"></script>


  </body>
<!-- </div> -->
</html>


