<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#/movies">Popular</a></li>
    <li><a href="#/movies/upcoming">Upcoming</a></li>
  </ul>
</div>

<h2>Recent Popular Movies</h2>

<hr>

<div class="movie" ng-repeat="movie in movies">
  <a href="#/movies/{{$index}}">
    <span class="title">{{$index + 1 }}.  {{ movie.title }}</span>
    <span class="subject">Average Vote Rating: {{ movie.vote_average }}</span><span class="date">{{ movie.release_date | date }}</span>
  </a>
</div>
