<div ng-controller="ShowController">
  <H1>{{ spot.spot.address }}</h1>
  <hr>
  <h2>Price: </h2>
  <p>{{ spot.spot.price | currency }}/hr</p>
  <div class="photo-container">
    <h2>Photos:</h2>
    <img ng-src="{{spot.spot.url}}">
  </div>

  <h2>Description: </h2>
  <p>{{ spot.spot.description }}</p>

  <h2>Available between: </h2>
  <p>{{ spot.spot.start_date_time | date : "medium" }} - {{ spot.spot.end_date_time | date : "medium" }}</p>

  <h2>Upcoming Reservations: </h2>
  <div ng-repeat="reservation in spot.reservations">
    {{reservation.start_date_time | date : "medium" }} - {{reservation.end_date_time | date : "medium" }}
  </div>


  <button ng-show="checkLogin()" ng-click="makeReservation()">Reserve</button>
  <hr>
</div>

