* {
  font-family: 'Open Sans', sans-serif;
}

body, html {
    color: #565a5c;
    font-family: 'Open Sans', sans-serif;
}

.header-title{
  font-weight: 600;
}

#map {
  height: 60em;
  width: 100%;
}

.top-bar{
    font-weight: 700;
    color:  #EB1690;
    font-size: 4em;
}

.center-content{
  text-align: center;
}

.main {
    /*margin: 40px 0;*/
    max-width: 1000 px;
}


a {
  color: #343434;
}

.footer {
  background:#000;
  padding:60px 0;
}

.footer h3 {
  color:#fff;
  font-size:18px;
  font-weight:300;
}

.footer ul {
  color:#0393ff;
  list-style:none;
  padding-left:0px;
}


textarea {
  resize: none;
}

/* Have to apply id, bootstrap must be priority here....*/
  #abs-form {
    position: absolute;
    top: 25%;
    background:  #fff;
    padding: 3em;
    width: 24%;
    margin-left: .5em;
    border: 1px solid #CED0D2;
    max-width: 300px;
  }

  .nav-a a:hover {
    text-decoration: none;
    color: #DB5F4F;
  }

  /* Drew P atomic*/
  .p-sm {padding: 1.4em;}


.nav-links{
  display: inline-block;
  float: right;
  padding-right: 1.2em;
  font-size: 1.2em;
}

.nav-bar{
  height: 1.5em;
  padding-right: 15px;
  padding-left: 15px;
  font-family: 'Open Sans', sans-serif;
}

.link-color{
  color:#343434;
  text-decoration: none;
}

.title-link:hover{
  text-decoration: none;
  color:#343434;
  font-weight: 600;
}

.zero-side-margin{
  margin-left: 0;
  margin-right: 0;
}

button{
  font-family: 'Open Sans', sans-serif;
}

.button-link {
    padding: 10px 15px;
    background: #3e3e3e;
    color: #FFF;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    letter-spacing: 2px;
    width: 100%;
}

.button-submit {
    padding: 10px 15px;
    background: #DB5F4F;
    color: #FFF;
    border: none;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    letter-spacing: 2px;
}

.reserve{
  padding: 10px 15px;
  background: #DB5F4F;
  color: #FFF;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  letter-spacing: 2px;
}

.white-text{
  color: #3e3e3e;
  /*text-shadow: 1px 1px black;*/
  font-size: 1.2em;
}

.full-width{
  text-align: center;
  display: block;
  width: 100%;
}

.light-font{
  font-weight: 300;
}

.row-bottom-margin{
  margin-bottom: 3em;
}

.cancellation{
  color: #DB5F4F;
  font-weight: 600;
}

.cancellation:hover{
  text-decoration: none;
  color: #343434;
}
