
body, html {
    color: #565a5c;
    font-family: 'Montserrat', sans-serif;
}

#map {
  height: 60em;
  width: 100%;
}

.top-bar{
    font-weight: 700;
    color:  #EB1690;
    font-size: 4em;
}

.header {
    background: rgb(255, 205, 46);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    /*text-align: center;*/
}

.header button {
    margin: 0.6em;
}

.header img {
    margin: 20px auto;
    padding: 20px 0;
    text-align: center;
}

.header ul {
  list-style: none;
}

.header li {
  display: inline;
  margin-right: 30px;
}

.main {
    /*margin: 40px 0;*/
    max-width: 1000 px;
}

.movie {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 18px;
    margin: 0 0 8px;
    padding: 20px 0;
}

.movie:hover {
    background: #fcfcfc;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    cursor: pointer;
}

.movie span {
    display: inline-block;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
}

a {
  color: #555555;
}

a.back {
    background: #ffbd1a;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: block;
    font-weight: bold;
    margin: 0 0 20px;
    padding: 14px 0;
    text-align: center;
    width: 200px;
    color:  #EB1690;
}

a.back:hover {
    background: #f7a500;
    text-decoration: none;
}

.title {
    font-size: 16px;
    font-weight: 700;
    padding-left: 2%;
    text-align: left;
    width: 20%;
}

.subject {
    width: 60%;
    text-align: center;
}

.date {
    font-size: 14px;
    padding-right: 2%;
    text-align: right;
    text-overflow: ellipsis;
    width: 15%;
}

.movie-view {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 50px;
}

.movie-view h2 {
    font-size: 40px;
    padding: 0;
    margin: 0 0 10px;
}

.movie-view .title {
    display: inline-block;
    padding: 0;
    width: 50%;
}

.movie-view .date {
    display: inline-block;
    padding: 0;
    text-align: right;
    width: 50%;
}

.movie-view p {
    margin: 30px 0 0;
}

.footer {
  background:#000;
  padding:60px 0;
}

.footer h3 {
  color:#fff;
  font-size:18px;
  font-weight:300;
}

.footer ul {
  color:#0393ff;
  list-style:none;
  padding-left:0px;
}

.poster {
  width: 100%;
  height: auto;
  max-width: 600px;
}

.bold-font {
  font-weight: 700;
}

.overview{

}

.center-content {
  text-align: center;
}

.poster-container{
  box-shadow: none;
}

.pink-font {
  color: #EB1690;
}

.no-decoration:hover{
  text-decoration: none;
}
